@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');

body{
    width: 100vw;
    overflow-x: hidden;
    padding: 0;
    margin: 0;

    color: black;
    font-family: "Ancizar sans", sans-serif;
}

h1{
    font-size: 5rem;
    color: rgb(235, 87, 50);
    text-align: center;
    margin: 1rem 0;
}

p{
    font-size: 1.2rem;
}

a{
    font-size: 1.2rem;
    color: rgb(255, 81, 0);
    text-decoration: none;
}

a:hover{
    opacity: 0.8;
    text-decoration: underline;
}

input{
    padding: 0.6rem 1rem;
    outline: none;

    font-family: "Ancizar sans", sans-serif;
    font-size: 1rem;
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 7px;
    width: 20vw;
}   

input::selection{
    background-color: rgb(236, 236, 236);
}

button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);

    padding-left: 0;
    padding-right: 0;
  }
  
  .button-top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  
  button:hover .button-top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  }
  
  button:active .button-top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }


/* tablet screens */
@media only screen and (max-width: 768px){
    h1{
        font-size: 4.5rem;
    }
    p, a, input, button{
        font-size: 0.9rem;
    }
    input{
        width: 40vw;
    }
}

/* mobile screens */
@media only screen and (max-width: 425px){
    h1{
        font-size: 3.5rem;
    }
    p, a, input, button{
        font-size: 0.9rem;
    }
    input{
        width: 50vw;
    }
}