{% extends "flatownerDashboardLayout.html" %}

{% block main %}

<div class="main-block">
    <h1>Profile</h1>

    <form method="post">
        <div>
            <label>Name</label>
            <input type="text" value="{{ user.name }}" disabled>
        </div>

        <div>
            <label>Email</label>
            <input type="email" name="email" value="{{ user.email or '' }}">
        </div>

        <div>
            <label>Phone Number</label>
            <input type="text" name="phone" value="{{ user.phone or '' }}">
        </div>

        <input type="submit" value="Update Profile">
    </form>
</div>

{% endblock %}